/*App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.green {
  color: #C5DA7B;
}
*/

.left {
	height: 300px;
}
.center {
	height: 300px;
}
.right {
	height: 300px;
}
.header {
	border-radius: 2px;
	padding-top: 5px;
	padding-left: 12px;
	height: 60px;
}
.results-header-adjustment {
	border-radius: 2px;
	padding-top: 5px;
	padding-left: 19px;
	height: 60px;
	padding-right: 10px;
}
.successful-resubmits-header {
	background-color: #81c0d8;
}
.enter-api-header {
	background-color: #9baf06;
}
.view-leadconduit-flow {
	background-color: #f58025;
}
.results-header {
	background-color: #465560;
}
.header-container {
	width: 100%;
	margin: 0 auto;
}
.header-title {
	float: right;
	color: white;
	margin-top: 10px;
	margin-right: 10px;
}
.header-title-results {
	float: left;
	color: white;
	margin-top: 10px;
	margin-right: 40px;
}
.icons {
	color: white;
}
.icon-position {
	float: left;
	margin-top: 3px !important;
}
.checkmarks {
	color: #2aef23;
}
.dark-text {
	color: #465560;
	font-weight: bold;
}
.number-resubmitted {
	color: #2aef23;
	font-weight: bold;
	font-size: 1.1em;
}
.info-circle {
	margin-top: 60px;
	color: #f58025;
}
.view-flow-text {
	color: #f58025;
}
.view-flow-div {
	text-decoration: none !important;
}
.view-flow-div div:hover {
	background-color: #f8f8f8;
}
.input {
	margin-top: 10px;
}