/*App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.green {
  color: #C5DA7B;
}
*/

.left {
	height: 300px;
}
.center {
	height: 300px;
}
.right {
	height: 300px;
}
.header {
	border-radius: 2px;
	padding-top: 5px;
	padding-left: 12px;
	height: 60px;
}
.successful-resubmits-header {
	background-color: #81c0d8;
}
.enter-api-header {
	background-color: #9baf06;
}
.view-leadconduit-flow {
	background-color: #f58025;
}
.results-header {
	background-color: #465560;
}
.header-container {
	width: 100%;
	margin: 0 auto;
}
.header-title {
	float: right;
	color: white;
	margin-top: 10px;
	margin-right: 10px;
}
.icons {
	color: white;
}
.header-container-blue {
	background-color: blue;
}
.icon-position {
	float: left;
	margin-top: 3px !important;

}